.img-banner{
    background-image: url(../IMG/banner.jpeg);
    height: 300px;
    background-size: 150%;
    
}

h2{
    padding-top: 120px;
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.img-banner span{
    display: block;
}

